<%- include("partials/header.ejs") %>

    <form class="add-new-book" action="/new" method="post">
        <button type="submit" class="btn" name="new" value="book"> Add book </button>
    </form>
</section>

<section id="my-books">
    <%# This renders a div block for each book listen on the database. %>
    <% books.forEach((book) => { %>
        <div class="book">
            <% const cover = book.cover || "images/no-image.avif" %>
            <div class="book-info">
                <img class="cover" src="<%= cover %>" alt="Cover of the book">
                <h2> <%= book.title %> </h3>
                <h3> <%= book.author %> </h4>
            </div>
            <div class="book-review">
                <p> Score: <%= book.score %>/10 </p>
                <p> "<%= book.text_content %>" </p>
            </div>
        </div>
    <% }) %>
</section>

<%- include("partials/footer.ejs") %>
